.search-and-filter {
  background-color: #722AA0;
}

.search-icon {
  top: 8px;
  right: 4px;
}

.filter-btn {
  background-color: #722AA0;
  border: none;
  color: white;
}

.bed-active {
  background-color: #3CC268;
  color: white;
}

.filter-save-btn {
  background-color: #722AA0;
  color: white;
}