.left-menu-open{
  width: 260px;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  background-color: #35AF6C;
  transition: width 0.7s;
  height: 660px;
  color: white;
}

.left-menu-close {
  width: 0px;
  position: absolute;
  overflow: hidden;
  background-color: #35AF6C;
  transition: width 0.7s;
  height: 6600px;
  color: white;
  z-index: 10;
}